#wpcontent,
#wpbody-content,
.wp-toolbar {
    margin: 0 !important;
    padding: 0 !important;
}

#adminmenuback,
#adminmenuwrap,
#wpadminbar,
#wpfooter,
.notice,
div.error,
div.updated,
#query-monitor-main {
    display: none !important;
}

.zoremmail-layout.zoremmail-layout-has-sider {
    position: fixed;
    overflow: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-width: 0;
    margin-left: 346px;
    transition-property: left, right, top, bottom, width, margin;
    transition-duration: .3s;
}

/*aside panel css start*/
.zoremmail-layout-sider {
    color: #50575e;
    background: #f0f0f1;
    min-height: 100vh;
    position: fixed;
    width: 18%;
    left: 0;
    min-width: 346px;
    max-width: 600px;
    transition-property: left, right, top, bottom, width, margin, display;
    transition-duration: .3s;
}

aside.zoremmail-layout-slider-header {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: calc(100% - 0px);
    position: absolute;
    top: 0;
}

.zoremmail-layout-content-header {
    padding: 0;
    line-height: normal;
    top: 0;
    z-index: 7;
    background: #23282d;
    height: 46px;
    display: block;
    user-select: none;
    color: #fff;
}

.zoremmail-layout-sider-heading {
    width: 100%;
    height: 46px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}

.zoremmail-layout-sider-heading img {
    margin: 10px 10px 10px 15px;
}

ul.zoremmail-panels,
ul.zoremmail-sub-panels {
    margin: 0;
}

.customize-section-title {
    background: #fff;
}

.customize-section-title+li,
.zoremmail-sub-panel-heading+li {
    border-top: 1px solid #e0e0e0;
}

.customize-section-title.open {
    display: flex !important;
}

.customize-section-back {
    height: 74px;
}

.customize-section-back:focus,
.customize-section-back:hover {
    color: #fff;
    background: #f68520 !important;
    border-left: 4px solid #f68520;
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: -2px;
}

.customize-section-back {
    display: block;
    float: left;
    width: 48px;
    height: 71px;
    padding: 0 24px 0 0;
    margin: 0;
    background: #fff;
    border: none;
    border-right: 1px solid #e0e0e0;
    border-left: 4px solid #fff;
    box-shadow: none;
    cursor: pointer;
    transition: color .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
}

.customize-section-back:before {
    font: normal 20px/72px dashicons;
    content: "\f341";
    position: relative;
    left: 9px;
}

.wordpress-to-back {
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px;
    text-align: left;
    border: 0;
    border-right: 1px solid #e0e0e0;
    cursor: pointer;
}

.customize-section-title span.customize-action {
    font-size: 13px;
    display: block;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.customize-section-title h3 {
    font-size: 20px;
    font-weight: 200;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 10px 12px 14px;
    margin: 0;
    line-height: 25px;
    color: #50575e;
}

.customize-section-back .dashicons-arrow-left-alt2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 5px 0 0;
}

input.zoremmail-range {
    width: calc(100% - 60px);
}

iframe#customizer_privew {
    width: 100%;
    height: calc(100% - 57px);
    display: block;
    margin: 0 auto;
}

.sider-heading {
    margin: auto 0;
    font-size: 13px;
    font-weight: normal;
}

.breadcrumb-sub-panel-title {
    font-size: 15px;
    font-weight: bold;
    color: #fff !important;
}

a.zoremmail-back-wordpress-link {
    text-decoration: none;
    box-shadow: none;
    color: #23282d;
    font-size: 15px;
}

.zoremmail-back-wordpress-title {
    font-size: 25px;
    font-weight: 400;
    margin-right: 7px;
    line-height: 25px;
}

.zoremmail-back-wordpress-title .dashicons-arrow-left-alt {
    margin-right: 10px;
}

.zoremmail-menu-submenu-title {
    display: none;
}

.zoremmail-menu-submenu-title.open .customize-section-title {
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.zoremmail-menu-submenu-title.open,
.zoremmail-sub-panel-heading.open {
    display: block !important;
    margin: 0;
}

.zoremmail-menu-submenu-title.open .customize-section-back,
.zoremmail-sub-panel-heading.open .customize-section-back {
    display: inline-block;
    line-height: 55px;
    background: #fff;
    border-right: 1px solid #e0e0e0;
}

.zoremmail-menu-submenu-title.open .customize-section-back .dashicons,
.zoremmail-sub-panel-heading.open .customize-section-back .dashicons {
    height: 55px;
    line-height: 55px;
}

.zoremmail-panel-title,
.zoremmail-sub-panel-title,
.zoremmail-panel-title.back {
    border-left: none;
    border-right: none;
    padding: 10px 10px 11px 14px;
    line-height: 1.8;
    margin-bottom: 0;
    position: relative;
    background: #fff;
    color: #50575e;
    background-color: #fff;
    border-bottom: 1px solid #dcdcde;
    border-left: 4px solid #fff;
    transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.zoremmail-panel-title:hover,
.zoremmail-sub-panel-title:hover {
    background: #f6f7f7;
    border-left: 4px solid #f68520;
}

.zoremmail-panel-title:hover .dashicons,
.zoremmail-sub-panel-title:hover .dashicons {
    color: #f68520;
}

.zoremmail-panel-title .dashicons,
.zoremmail-sub-panel-title .dashicons {
    position: absolute;
    top: 30%;
    right: 20px;
    width: 10px;
    font-weight: 700;
}

.zoremmail-menu.zoremmail-menu-inline {
    width: 100%;
    float: left;
    clear: both;
    padding-bottom: 12px;
}

.zoremmail-menu.zoremmail-menu-inline+.zoremmail-menu.zoremmail-menu-inline {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.menu-sub-title {
    display: block;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 600;
    margin-bottom: 4px;
}

.zoremmail-menu-item .checkbox .menu-sub-title,
.zoremmail-menu-item .tgl-btn .menu-sub-title {
    line-height: 1.6;
    display: block;
    padding-top: 5px;
}

.menu-sub-field .wp-picker-container .wp-picker-clear {
    min-height: 34px;
    line-height: 2.18181818;
    padding: 0 8px;
    font-size: 11px;
    margin-left: 8px;
}

.wp-picker-container {
    display: inline-block;
}

.wp-picker-container .wp-color-result.button {
    min-height: 35px;
    padding: 0 0 0 30px;
    font-size: 11px;
    border-color: #e0e0e0;
}

.wp-picker-container input[type=text].wp-color-picker {
    width: 6rem;
    font-family: monospace;
    margin: 0;
    margin-left: 6px;
    margin-bottom: 6px;
    padding: 0 5px;
    line-height: 33px;
}

.menu-sub-tooltip {
    font-size: 12px;
    color: #424242;
}

.wp-color-result-text {
    background: #f6f7f7;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #e0e0e0;
    color: #50575e;
    display: block;
    line-height: 3;
    padding: 0 6px;
    text-align: center;
}

.menu-sub-field .zoremmail-input,
.menu-sub-field .select2-container {
    width: 100%;
    min-height: 35px;
    border-color: #e0e0e0;
}

.zoremmail-menu-contain {
    display: none;
    padding: 12px;
}

.zoremmail-menu-contain.active {
    display: block;
}

.header-panel.options-content select {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    margin: 10px;
    background-color: #fff;
    min-width: 200px;
    height: 35px;
}

.header-panel.options-content .select2.select2-container {
    margin: 18px 0;
    height: 36px;
}

.header_orderStatus .select2-selection--single,
.header_orderStatus .select2-selection__rendered,
.header_orderStatus .select2-selection__arrow {
    height: 36px !important;
    line-height: 36px !important;
}

.wp-core-ui .efc-btn.efc-save.focus,
.wp-core-ui .efc-btn.efc-save.hover,
.wp-core-ui .efc-btn.efc-save:focus,
.wp-core-ui .efc-btn.efc-save:hover {
    outline: none;
    box-shadow: none;
}

.wp-core-ui .efc-btn.efc-save {
    font-size: 14px;
    line-height: 16px;
    margin: 8px;
    width: 70px;
    float: right;
}

.zoremmail-layout-content-container {
    width: 100%;
    display: flex;
}

.zoremmail-layout-content-preview {
    height: auto;
    min-height: 100vh;
    background: #f0f0f1;
    border-right: 1px solid #e0e0e0;
    width: calc(100% - 0px);
    display: inline-block;
}

.zoremmail-layout-content-preview.customizer-unloading #overlay {
    position: fixed;
    /* Sit on top of the page content */
    top: 46px;
    left: 346px;
    right: 0;
    bottom: 0;
    background-color: #f0f0f1;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: default;
    /* Add a pointer on hover */
    background: url('../assets/loader.svg') 50% 50% no-repeat rgba(240, 240, 241, 0.5);
    background-size: 50px;
}

.menu-sub-codeinfo.codeinfo code {
    padding: 10px;
    display: block;
    background: #fff;
    color: #505050;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    user-select: text;
}

button.send-to-email {
    border: 0;
    background: none;
    line-height: 45px;
    padding: 0 10px 0 40px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}

aside.zoremmail-layout-content-media * {
    cursor: pointer;
}

aside.zoremmail-layout-content-media {
    position: absolute;
    bottom: 46px;
    background: #ffff;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: calc(100% - 0px);
}

.zoremmail-layout-content-media {
    float: right;
}

.zoremmail-layout-content-media .dashicons {
    color: #bdbdbd;
    width: 35px;
    height: 41px;
    line-height: 45px;
    cursor: pointer;
    padding: 0 3px;
    margin: 0 0 0 -4px;
    box-shadow: none;
    border-top: 1px solid transparent;
    border-bottom: 4px solid transparent;
    transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
}

.zoremmail-layout-content-media .active .dashicons {
    color: #1d2327;
    border-bottom-color: #1d2327;
}

.zoremmail-layout-content-media .dashicons:focus,
.zoremmail-layout-content-media .dashicons:hover {
    color: #1d2327 !important;
}

aside.zoremmail-layout-content-media a {
    text-decoration: none;
    box-shadow: none;
}

aside.zoremmail-layout-content-media .dashicons {
    padding: 10px;
    color: #bdbdbd;
    width: 15px;
    line-height: 25px;
    font-size: 25px;
}

.zoremmail-layout-sider .collapse-sidebar {
    bottom: 0;
    transition: .18s bottom ease-in-out;
}

.zoremmail-layout-sider .collapse-sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 9px 0 9px 10px;
    height: 46px;
    color: #646970;
    outline: 0;
    line-height: 1;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

aside.zoremmail-layout-content-collapse {
    position: absolute;
    bottom: 0;
    height: 46px;
    background: #fff;
    width: calc(100% - 0px);
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.zoremmail-layout-sider .collapse-sidebar .collapse-sidebar-arrow {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-radius: 50%;
    overflow: hidden;
}

.zoremmail-layout-sider .collapse-sidebar .collapse-sidebar-arrow:before {
    display: block;
    content: "\f148";
    background: #f0f0f1;
    font: normal 20px/1 dashicons;
    speak: never;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.send-to-email:before {
    content: '';
    display: block;
    height: 46px;
    width: 22px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url('../assets/send-email.png') no-repeat 0px 0px;
    background-size: contain;
}

.zoremmail-layout-sider .collapse-sidebar .collapse-sidebar-arrow,
.zoremmail-layout-sider .collapse-sidebar .collapse-sidebar-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
}

.zoremmail-layout-sider .collapse-sidebar .collapse-sidebar-label {
    margin-left: 3px;
}

.zoremmail-layout-sider .collapse-sidebar:focus,
.zoremmail-layout-sider .collapse-sidebar:hover {
    color: #23282d;
}

.zoremmail-layout-sider .collapse-sidebar:hover .collapse-sidebar-arrow {
    box-shadow: 0 0 0 1px #23282d, 0 0 2px 1px rgba(35, 40, 40, 1);
}

.zoremmail-layout.zoremmail-layout-has-sider.collapsed .collapse-sidebar-arrow:before {
    transform: rotate(180.001deg);
}

.zoremmail-layout.zoremmail-layout-has-sider.collapsed {
    margin-left: 0 !important;
}

.zoremmail-layout.zoremmail-layout-has-sider.collapsed .zoremmail-layout-sider {
    left: -348px;
}

.zoremmail-layout.zoremmail-layout-has-sider.collapsed .collapse-sidebar-label {
    display: none;
}

.menu-sub-title .radio-button-label {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    margin-right: -2px;
}

.menu-sub-title .radio-button-label>input {
    display: none;
}

.menu-sub-title .radio-button-label>input:checked+span {
    background-color: #3c4758;
    color: #fff;
}

.menu-sub-title .radio-button-label span {
    font-weight: 500;
    border: 1px solid #e0e0e0;
    background-color: #eee;
    padding: 8px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.zoremmail-layout-slider-content {
    position: absolute;
    top: 47px;
    bottom: 46px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background: #f0f0f1;
    border-right: 1px solid #dcdcde;
    padding-bottom: 1em;
}

.menu-sub-field .efc-btn {
    color: #fff;
    min-height: 35px !important;
    padding: 0 25px;
    border-radius: 5px;
    min-width: 130px;
    font-size: 14px;
}

/*** Snackbar css START ***/
/* Animations to bouncein the snackbar in and out */
@-webkit-keyframes bouncein {
    from {
   right: 0;
   opacity: 0;
   }
    to {
   right: 20px;
   opacity: 1;
   }
   }
   @keyframes bouncein {
    from {
   right: 0;
   opacity: 0;
   }
    to {
   right: 20px;
   opacity: 1;
   }
   }
.snackbar-logs {
    position: fixed;
    z-index: 999999;
    top: 50px;
    right: 30px;
    width: 300px;
}
.snackbar-log {
    -webkit-animation: bouncein 0.5s;
    animation: bouncein 0.5s;
}
.snackbar-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0;
}
.snackbar-log-show {
    right: 0;
    opacity: 1;
}
.snackbar-log {
    background: #1F1F1F;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
}
.snackbar-log-error {
    background: #ed1c24;
}
/*** Snackbar css END ***/
/* Toggle CSS */
input[type=checkbox].tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
 background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
 background: none;
}
.tgl + .tgl-btn {
	outline: 0;
	display: inline-block;
	width: 36px;
	height: 18px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 40%;
	height: 100%;
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}
.tgl-flat + .tgl-btn {
	padding: 2px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: rgba(0,0,0, 0.26);
	border: 1px solid #ccc;
	border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #f2f2f2;
	content: "";
	border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
	border: 1px solid #ccc;
	background: #ffff;
	vertical-align: middle;
}
.tgl-flat:checked + .tgl-btn:after {
	left: 55%;
}
.rtl .tgl-flat:checked + .tgl-btn:after {
	right: 55%;
}
.rtl .tgl + .tgl-btn:after {
	right: 0;
}

/*Popup css*/
.popupwrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafadb;
    border: 1px solid #e0e0e0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
}
.popuprow {
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    width: 97%;
    width: calc(100% - 5px);
    max-height: 90%;
    overflow-y: overlay;
    text-align: left;
    border: 1px solid #ccc;
}
.popuprow .popup_close_icon {
    color: #616161 !important;
    width: 36px;
    height: 36px;
    font-size: 28px !important;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    line-height: 10px;
}
.popupclose {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
}
.popupwrapper:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#send_to_email_options * {
    margin: 15px 0!important;
}
#send_to_email {
    line-height: 33px;
    width: 280px;
}
/*end popup css*/

/*Toggle end*/
@media screen and (min-width: 1667px) {
.zoremmail-layout.zoremmail-layout-has-sider {
    margin-left: 18%;
}
.zoremmail-layout-content-preview.customizer-unloading #overlay {
	left: 18%;
}
}

/**** Custom CSS ****/
.customize-section-back, .snackbar-log-success, .tgl-flat:checked + .tgl-btn:after {
    background: #f68520;
}
.breadcrumb-sub-panel-title, button.send-to-email, .zoremmail-back-wordpress-title, aside.zoremmail-layout-content-media .dashicons.dashicons-desktop, aside .dashicons:focus, aside .dashicons:hover {
    color: #f68520;
}
.wp-core-ui .efc-btn.efc-save.focus, .wp-core-ui .efc-btn.efc-save.hover, .wp-core-ui .efc-btn.efc-save:focus, .wp-core-ui .efc-btn.efc-save:hover, .wp-core-ui .efc-btn.efc-save {
    background: #f68520;
    border-color: #f68520;
}
/**** End Custom CSS ****/